.env
.env.local
.env.*.local
env

/vendor/
/writable/cache/*
/writable/debugbar/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
!/writable/cache/index.html
!/writable/debugbar/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/uploads/index.html

/storage/tmp/
/storage/uploads/
/storage/runtime/security/*.json
/public/uploads/
/public/assets/format_surat/~$*.docx
/scripts/import_dummy_dosen.php
/builds
/builds/
/mailpit-release/
/mailpit*.log
/mailpit*.html
/mailpit*.zip

*.log
*.tmp
*.bak
*.swp
Thumbs.db
.DS_Store

/.idea/
/.vscode/
